<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Anasayfa/Index">Anasayfa</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Masa/Index">Masa</a></li>
            <li><a href="/Yiyecek/Index">Yiyecekler</a></li>
            <li><a href="/Icecek/Index">Icecekler</a></li>
            <li><a href="/Security/LogOut">Çıkış</a></li>


        </ul>
    </div>
</nav>