
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ALTINOK KAFE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Altınok Kafe</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Masa No</a></li>
                <li><a href="/Yiyecek/index">Yiyecekler</a></li>
                <li><a href="/Icecek/index">İçecekler</a></li>
                
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
       
    </div>

</body>
</html>