
@{
    ViewBag.Title = "YiyecekEkle";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<form class="form-group" method="post">

    <div style="margin-top: 10px">
        <label>Yiyecek Kategorisi</label>
        <input type="text" class="form-control" name="YiyecekKategori" required="" />
    </div>

    <div style="margin-top: 10px">
        <label>Yiyecek Adı</label>
        <input type="text" class="form-control" name="YiyecekAd" required="" />
    </div>

    <div style="margin-top:10px">
        <label>Yiyecek Fiyat</label>
        <input type="text" class="form-control" name="YiyecekFiyat" required="" />
    </div>
    <br />

    <button class="btn btn-info">Yiyecek Ekle</button>

</form>

